[Unit]
Description=YouTube Sync Audio Batch (Local GitHub Repo)
After=network-online.target

[Service]
Type=oneshot
ExecStart=/home/stefantacu/github/music-player-service/scripts/yt_sync.sh
WorkingDirectory=/home/stefantacu/github/music-player-service
StandardOutput=journal
StandardError=journal
